#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#prev,
#next{
    font-size: 3rem;
}

img{
    width: 800px;
    height: 600px;
    object-fit: cover;
}